footer {
    flex-grow: 1;
    width: 100%;
    color: red;
    background-color: black;

    .container {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 599px) {
    footer .container {
        flex-direction: column-reverse;
        align-items: center;

        > div:last-of-type {
            margin-bottom: 8px;
        }
    }
}